<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings file="Global.config">
    <add key="ControllerCycle" value="300"/>
    <add key="LocalDatabasePath" value="ControllerDatabase"/>
    <add key="ControllerBaseEndpoint" value="net.tcp://localhost:"/>
    <add key="ControllerDataService" value="/Controller/Data"/>
    <add key="ControllerAliveService" value="/Controller/Alive"/>
    <add key="DatabasesFolder" value="LocalDatabases"/>
    <add key="AMSDataEndpoint" value="net.tcp://localhost:10000/ControllerData"/>
  </appSettings>
</configuration>