<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="AppToRealSecondRation" value="20"/>
  <add key="Chars" value="ABCDEFGHIJKLMNOPQRSTUVWXYZ"/>
  <add key="DeviceCodeLength" value="10"/>
  <add key="HashCodeAMSServiceDevice" value="net.tcp://localhost:10000/AMS/HashCodeCheckerDevice"/>
  <add key="HashCodeAMSServiceController" value="net.tcp://localhost:10001/AMS/HashCodeCheckerController"/>
  <add key="EndpointsGetterAMSService" value="net.tcp://localhost:10002/AMS/EndpointsGetter"/>
  <add key="DeviceDataAMSService" value="net.tcp://localhost:10003/AMS/Device"/>
  <add key="ControllerDataAMSService" value="net.tcp://localhost:10004/AMS/Controller"/>
  <add key="RetryTime" value="2"/>
</appSettings>