<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings file="Global.config">
    <add key="DigitalChangesNumber" value="1"/>
    <add key="AnalogChangesNumber" value="30"/>
    <add key="WorkingHoursController" value="1"/>
    <add key="WorkingHoursAnalog" value="1"/>
    <add key="WorkingHoursDigital" value="1"/>
    <add key="LowerAnalogvalueAlarm" value="-5000"/>
    <add key="UpperAnalogValueAlarm" value="5000"/>
  </appSettings>
  <connectionStrings>
    <add name="AMSDatabaseEntities" connectionString="metadata=res://*/AMSDatabaseModel.csdl|res://*/AMSDatabaseModel.ssdl|res://*/AMSDatabaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=AMSDatabase;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>